*{
    margin: 0;
    padding: 0;
    
}
body{
    margin: 1em;
}
a{
    display: inline-block;
    margin: 5px;
    padding: 12px 25px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    background-color: lightblue;
    border-radius: 5px;
}
a:hover{
    color: #ffffff;
    background-color: rgb(10, 180, 10);
}
a:active{
    color: rgb(0, 153, 255);
}