*{
    margin: 0px;
    padding: 0px;
}
div{
    border: 2px solid red;
    height: 200px;
    margin:  10px 0px;
}
img {
    height: 150px;
    width: 150px;
    margin: 5px;    
}
p {
    margin: 5px;
    font: 20px cursive;
}

/* Float Left */
.left {
    float: left;
}
/* Float Right */
.right {
    float: right;
}
/* Float no-float */
.no {
    float: none;
}
.scroll{
    overflow-y: scroll;
}
a{
    position: fixed;
    top: 15px;
    right: 10px;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    background-color: skyblue;
    color: white;
    font-size: large;
}