*{
    margin: 0;
    padding: 0;
}
p{
    font-size: 30px;
    margin: 5px;

}
        /* Serif Font */
.serif{
    font-family: serif;
}


        /* San-Serif */
.sans{
    font-family: sans-serif;
}